.Overlay {
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 400px;
  max-height: 85vh;
  border-radius: 20px;
  padding: 20px;

  &:focus {
    outline: none;
  }
}

.Title {
  font-size: 24px;
  margin-bottom: 20px;
}