.titleWrapper {
    gap: 30px;

    .title {
        font-size: 40px;
        flex-shrink: 0;
        line-height: 1;
    }

    img {
        height: 100px;
        flex-shrink: 0;
    }
}

.warnWrapper {
    gap: 20px;
}

.jobSettings {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .jobSetting {
        display: flex;
        gap: 20px;

        svg {
            flex-shrink: 0;
            color: #aaaaaa;
        }
    }
}