.microphoneSelectorWrapper {
    width: 100%;
    overflow: hidden;

    .description {
        font-size: 14px;
        color: #aaaaaa;
    }

    .microphoneSelector {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        & > svg {
            color: #aaaaaa;
            flex-shrink: 0;
        }
    }
}