.switchWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.SwitchRoot {
    flex-shrink: 0;
    cursor: pointer;
    width: 42px;
    height: 25px;
    border-radius: 9999px;
    position: relative;
    background-color: #333333;

    &[data-state="checked"] {
        background-color: var(--primary-color);
    }
}

.SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;

    &[data-state="checked"] {
        transform: translateX(19px);
    }
}

.Label {
    line-height: 1;
    user-select: none;
}
