.microphoneSelector {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 1px solid var(--primary-light-color);
    border-radius: 20px;
    padding: 0 10px;

    & > svg {
        flex-shrink: 0;
    }
}
