.infoWrapper {
    gap: 10px;
    color: #aaaaaa;

    .timeWrapper, .wordsCountWrapper {
        display: flex;
        align-items: center;
        min-width: 90px;
        gap: 10px;
    }
}

.controlsWrapper {
    gap: 20px;
}

.finishedWrapper {
    gap: 20px;

    .iconWrapper {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #aae8ad;
        border-radius: 50px;
        
        svg {
            width: 35px;
            color: #0e6e13;
        }
    }
}