@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    /*--primary-color: #540b0e;*/
    /*--primary-light-color: #d9c5c6;*/

    --primary-color: #274c77;
    --primary-light-color: #d2d3dc;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f1edef;
    color: #222222;
}

.container {
    width: 100%;
    border-radius: 20px;
    background: #fdf8fa;
}

.offset {
    padding: 20px;
}

.divider {
    width: calc(100% + 40px);
    height: 2px;
    background-color: #f1edef;
}

a {
    color: #145589;
}