@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    /*--primary-color: #540b0e;*/
    /*--primary-light-color: #d9c5c6;*/

    --primary-color: #274c77;
    --primary-light-color: #d2d3dc;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f1edef;
    color: #333333;
}

.container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: #fdf8fa;
    padding: 20px 30px;

    &.warn {
        background: #ffc10745;
        border: 1px solid #FFC107;
        color: #5a4403;
    }
}