.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;
    cursor: pointer;
}

.SliderTrack {
    background-color: var(--primary-light-color);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 25px;
    overflow: hidden;
}

.SliderRange {
    position: absolute;
    background-color: var(--primary-color);
    height: 100%;
}

.SliderThumb {
    display: block;
    display: none;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.SliderThumb:focus {
    outline: none;
}
